<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center}
    </style>
    <title>Contact Us</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Contact us</h1>
    <p>This is obviously a contact page. There is no contact info provided. Sorry not sorry.</p>
</body>
</html>